<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <style>
    // No styles here
    </style>
</head>
<body>
    <div> Some content that should be hidden ... </div>
    <div appbuilder-portal="default" appbuilder-portal-autoenter="true" ></div>
    <!-- div><%- sails.config.environment %>  </div -->
    <script type='text/javascript' src='assets/app.js'></script> 
</body>
</html>